.vscode/**
.vscode-test/**
test/**
test-workspace/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
**/jest.config.js
*.code-workspace
